body {
    font-family: 'Open Sans', sans-serif;
}

.center {
    text-align: center !important;
}

h1.title {
    font-weight: lighter;
    font-size: 4em;
}

.hide-after-start, .show-after-start {
    display: none;
}

.color-panel {
    padding: 110px;
}

.color-panel i.icon {
    width: 100%;
    font-size: 170px;
}

a i.icon {
    color: black;
    text-decoration: none;
}

.info {
    font-size: 24px;
}
